<h1>Articles </h1>


<% @articles.each do |x| %>

	<%= image_tag(x.image_url(:dom).to_s) %>

	<h1> <%= x.title %> </h1>

	<h2> <%= x.subhead %> </h2>

	<p> <%= link_to 'Read more', article_path(x) %> </p>


	<% if current_user != nil %>

		<% if x.user_id == current_user.id %>

			<p> <%= link_to 'Edit Article', edit_article_path(x) %> </p>

		<% end %>

		<% if current_user.user_type == "admin" %>

			<p> <%= link_to 'Edit Article', edit_article_path(x) %> </p>

			<p> <%= link_to 'Delete', article_path(x), method: :delete %> </p>
                                
                                

		<% end %>

	<% end %>

<% end %>