



<% @articles.order(:cached_votes_total => :desc).each do |x| %>


<div class="article-container">

	<%= image_tag x.image_url(:dom).to_s, class: 'article-dom' %>


	<div class="article-info">

		<div class="city-tag"> 

			<p><%= x.address %></p>

		</div>

		<a class="headline" id="headline-index" href="/articles/<%= x.id %>"> <%= x.title %> </a>

		<h2 class="subhead"> <%= x.subhead %> </h2>

		<div class="divider-black"></div>


		<!-- Box for information about who submitted and when -->

		<div class="article-submitter-container">


			<%= image_tag x.user.avatar_url(:thumb).to_s, :class => 'avatar', :id => 'byline-avatar' %>

	    	<a class="submission-info" href="/users/<%=x.user_id%>"> By<strong> <%= User.find(x.user_id).first_name %></strong> </a>

	    	<a class="submission-info" id="timestamps">Posted <%= time_ago_in_words(x.created_at) %> ago </a>


		</div>


		<div class="upvotes-container">

			<% if x.get_upvotes.size == 1 %>
			
				<p id="likes"><%= x.get_upvotes.size %> like</p>

			<% elsif x.get_upvotes.size != 1 %>

				<p id="likes"><%= x.get_upvotes.size %> likes</p>

			<% end %>

					<% if current_user != nil %>

			<% if x.user_id == current_user.id || current_user.user_type == 'admin' %>

				<p> <%= link_to 'Edit Article', edit_article_path(x), class: 'quick-link' %> </p>

			<% end %>

			<% if current_user.user_type == "admin" %>



				<p> <%= link_to 'Delete', article_path(x), class: 'quick-link', method: :delete %> </p>
	                                
	                                

			<% end %>

		<% end %>


		</div>




	</div>


</div>

<div class="divider-horizontal"></div>

<% end %>

