

<% if current_user %>

<h1>Post a new article</h1>

<%= form_for @article do |f| %>

<div class="form-field">
	<%= f.label :title %>
	<%= f.text_field :title %>

</div>

<div class="form-field">
	<%= f.label :subhead %>
	<%= f.text_field :subhead %>

</div>


<div class="form-field">
	<%= f.label :content %>
	<%= f.text_area :content %>

</div>


<div class="button">
	<%= f.submit %>

</div>

<% end %>

<% else %>

<p> You must be <%= link_to sign_in_path, "signed in" %> to post a new article </p>



<% end %>
