

<% if current_user %>

<%= form_for @article do |f| %>

<div class="form-field">
	<%= f.label :title %>
	<%= f.text_field :title %>

</div>

<div class="form-field">
	<%= f.label :subhead %>
	<%= f.text_field :subhead %>

</div>

<div class="form-field">
	<%= f.label :city %>
	<p>(e.g. Jakarta) </p>
	<%= f.text_field :address %>

</div>

<div class="hidden">
	<%= f.label :longitude %>
	<%= f.hidden_field :longitude %>

</div>

<div class="hidden">
	<%= f.label :latitude %>
	<%= f.hidden_field :latitude %>

</div>


<div class="form-field">
	<%= f.label :content %>
	<%= f.text_area :content %>

</div>

  <div class="form-field">
    <p>Upload an image</p>
    <%= f.file_field :image %>
  </div>


<div class="button">
	<%= f.submit %>

</div>

<% end %>

<% else %>

<p> You must be <%= link_to "logged in", new_session_path %> to post a new article </p>



<% end %>


