
<div class="article-show-container">

<%= image_tag (@article.image_url(:dom).to_s), :class => 'article-dom-img' %>

	<div class="headline-show-container">

		<div class="city-tag"> 

			<p><%= @article.address %></p>

		</div>

<!-- 		<div class="divider-black"></div> -->

		<h1><%= @article.title %> </h1>

		<div class="divider-black"></div>

		<h2><%= @article.subhead %> </h2>

<!-- 		<div class="divider-black"></div> -->

	</div>


</div>


<div id="map"></div>

<!-- body text starts here -->

<div class="article-body-text">


	<!-- Box for liking article -->


		<% if current_user != nil %>


		<%= link_to like_article_path(@article), :class => 'like-btn', method: :put, remote: :true do %>

			<div class="like-box">

				<img src='/upvote_button.png' class="upvote-button"></img>

		<% end %>

			<p class="likes-count"><%= @article.get_upvotes.size %></p>

			<p>likes</p>

			</div>

		<% else %>

		<%= link_to new_session_path, :class => 'like-btn' do %>

			<div class="like-box">

				<img src='/upvote_button.png' class="upvote-button"></img>


				<% end %>

				<p class="likes-count"><%= @article.get_upvotes.size %></p>

				<p>likes</p>

			</div>


		<% end %>


<!-- 
		</div> -->

		




<!-- 	</div> -->



	<div class="article-submitter-container" id="article-show-submitter-container">

		<div class="container-default">

		<%= image_tag @author.avatar_url(:thumb).to_s, :class => 'avatar', :id => 'byline-avatar' %>

		<p class="submission-info" id="article-show-submitter">By <a href="/users/<%= @article.user_id %>" > <%= @author.first_name %> </a> in <%= @article.address %> </p>

		</div>

		<p class="submission-info" id="article-show-submitter">Posted <strong><%= time_ago_in_words(@article.created_at) %> ago</strong> </p>


	</div>

	



	<p><%= simple_format(@article.content) %> </p>


</div>




<h3> Post a comment </h3>

<% if current_user != nil %>


	<% if @article.user_id == current_user.id %>

		<p> <%= link_to 'Edit Article', edit_article_path(@article) %> </p>

	<% end %>

	

		<%= form_for [@article, @comment] do |f| %>


			<%= f.label :type_your_comment_below %>
			<%= f.text_area :content %>

			<% f.hidden_field :user_id, :value => current_user.id %>
			<% f.hidden_field :article_id, :value => @article.id %>

			<%= f.submit :'Post your comment' %>


		<% end %>

		<% else %>

		<p> You must be <%= link_to 'signed in', new_session_path %> to post a comment </p>


<% end %>

	<% @comments.each do |comment|%>


		<a href="/users/<%= comment.user_id %>"><%= comment.user.first_name %> </a>

		<p><strong><%= time_ago_in_words(comment.created_at) %> ago</strong></p> 


		<p><%= comment.content %></p>

		


	<% end %>


<div id="map"></div>


<script>
      function initMap() {
        var myLatLng = {lat: <%=@article.latitude %>, lng: <%=@article.longitude %>};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 6,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Tasty food map'
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKHH_JtyjdFmkCMfEsacPf5WnxSxNbEf0&callback=initMap">
    </script>
  </body>
</html>

