

<h1>Sign up</h1>

<%= form_for @user do |f| %>

<div class="form-field">
	<%= f.label :email %>
	<%= f.text_field :email %>

</div>

<div class="form-field">
	<%= f.label :password %>
	<%= f.password_field :password %>

</div>


<div class="form-field">
	<%= f.label :first_name %>
	<%= f.text_field :first_name %>

</div>


<div class="form-field">
	<%= f.label :last_name %>
	<%= f.text_field :last_name %>

</div>


<div class="button">
	<%= f.submit %>

</div>

<% end %>
