

<h1>Sign up</h1>

  <% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |message| %>
      <p class="error"><%= message %></p>
    
    <% end %>

  <% end %>

<%= form_for @user do |f| %>

<div class="form-field">
	<%= f.label :email %>
	<%= f.text_field :email %>

</div>

<div class="form-field">
	<p>Minimum eight characters, at least one letter and one number</p>
	<%= f.label :password %>
	<%= f.password_field :password %>

</div>


<div class="form-field">
	<%= f.label :first_name %>
	<%= f.text_field :first_name %>

</div>


<div class="form-field">
	<%= f.label :last_name %>
	<%= f.text_field :last_name %>

</div>

<div class="form-field">
    <p>Add a profile picture</p>
    <%= f.file_field :avatar %>
</div>


<div class="button">
	<%= f.submit %>

</div>

<% end %>
